/*Selector {
	Property: value;
}*/

* {
	text-align: right;
}

body {
	background-image: url(backgroundimage.jpg);
	background-size: cover;
}

h2, p:hover {
	color: #550200; 
	text-align: center;
	border: 5px solid purple;
	cursor: pointer;
}

p{
	color: pink;

}
p{
	color: green;
}

li{
	list-style: none;
	display: inline-block;
}

.webtext {
	border: 5px dashed green;
}

.active {
	color: red;
}

#div1 {
	background: rgba(0, 0, 255, 0.2);
}

#div2 {
	background: rgba(0, 255, 0, 0.2);
}